@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
$list-color: rgba(0,0,0,.38);
$list-hover-color:rgba(0,0,0,.87);
*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1200px;
}
//navbar starts
.main-logo{
    margin-right: 30px;
}

.navbar{
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    height: 70px;
    width: 95%;
    justify-content: space-between;
    //border-bottom: 1px solid #f2f1eb;
    .nav-left{
        display: flex;
        //gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .nav-right{

        .nav-button{
            background-color: #058d66;
            padding: 9px;
            width: 150px;
            border-radius: 5px;
            border: none;
            height: 40px;
            color: #fdfbf4;
            cursor: pointer;
            font-size: 16px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
}





.nav-span{
    color:$list-color;
    font-size: 16px;
    cursor: pointer;

}

.nav-span-div{
    height: 75px;
    display: flex;
    flex-direction: column;
    gap: 300px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.nav-span-div:hover{
    background-color: #f1f9f7;
    .nav-span{
        color: $list-hover-color;
    }
    border-bottom: 2px solid green; /* add a green line at the bottom */

}



.hover-dropdown{
    display: block;
}

    

.menu-dropdown{
    color: rgba(0,0,0,.87);
    list-style: none;
    letter-spacing: .1px;
    box-sizing: inherit;
    font: inherit;
    vertical-align: baseline;
    border-top: 1px solid #edefed;
    background-color: #fff;
    width: 104.5%;
    margin-right: 200px;
    position: absolute;
    left: -23px;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-delay: .05s;
    visibility: hidden;
    opacity: 1;
    z-index: 10;
    margin-top: 300px;
}

    .dropdown-items{
        display: flex;
        margin: 0 auto;
        width: 900px;
        margin-left: 137px;
        max-height: 240px;
        flex-wrap: wrap;
        flex-direction: column;
        color: rgba(0,0,0,.87);
        list-style: none;
        letter-spacing: .1px;
        box-sizing: inherit;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        border-bottom: 1px solid #edefed;
        margin: 0 0 0 182px;
        padding: 0 30px;
        .dropdown-item{
            width: 50%;
            color:$list-color ;
            font-size: 20px;
            padding: 16px;
            cursor: pointer;
            transition: 0.3s all;
        }   
        .dropdown-item:hover{
            color:rgba(0,0,0,.87)
        }
    }
  


.nav-span-div:hover .menu-dropdown {
    visibility: visible;
  }
  
.dropdown-item-link{
    color:$list-color ;
    text-decoration: none;
}
.dropdown-item-link:hover{
    text-decoration: none;
    color:rgba(0,0,0,.87);
}
