$color_1: #099a71;
$color_2: rgba(0,0,0,.38);
$color_3: #fff;
$color_4: rgba(0,0,0,.6);
$background-color_1: #fff;

.support {
	margin-right: 24px;
	padding: 24px;
	width: 368px;
	border-radius: 8px;
	background-color: $background-color_1;
	h2 {
		font-size: 60px;
		font-weight: 300;
		line-height: 72px;
		letter-spacing: -.5px;
	}
}
.helpmeimg {
	margin-bottom: 16px;
}
.span-color-green {
	color: $color_1;
}
.support-img-p {
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: .5px;
	color: $color_2;
}
.subtitle {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: .1px;
	font-weight: 600;
	margin-bottom: 16px;
}
.moreinformationbutton {
	background: #058d66 !important;
	color: $color_3 !important;
	background-position: 50% !important;
}
.newaccount {
	background: #058d66 !important;
	color: $color_3 !important;
	background-position: 50%;
}
.supportpopup1 {
	display: none;
}
.supportpopup2 {
	display: none;
}
.supportpopup3 {
	display: none;
}
.addingpashabankapp {
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: .15px;
}
.mobileappparagraf {
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: .5px;
	color: $color_4;
}
#pashamobileapp {
	margin-top: 96px;
	margin-bottom: 96px;
	background-image: url("https://sme.pashabank.az/themes/sme/assets/images/mobile-image.svg");
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: contain;
	padding-top: 40px;
	padding-bottom: 40px;
}
.mobileappimgs {
	width: 141px;
	height: 41px;
	margin-bottom: 8px;
}
.qrcodeimg {
	height: 93px;
	width: 93px;
	margin-left: -100px;
}
.linksaddingpasha {
	padding-top: 48px;
	padding-bottom: 48px;
}
.headerlist {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: .1px;
	font-weight: 600;
	padding: 20px 24px 12px;
	color: $color_4;
	p {
		vertical-align: middle;
		padding: 28px 16px !important;
	}
}
.listingcurrency {
	margin: 0 auto;
}
.currencyul {
	width: 100%;
	border-radius: 8px;
	background-color: $background-color_1;
	-webkit-box-shadow: 0 2px 7px rgba(0,0,0,.07);
	box-shadow: 0 2px 7px rgba(0,0,0,.07);
	text-align: left;
	overflow: hidden;
	margin-right: 15px;
}
.americaimage {
	width: 40px !important;
	height: 40px !important;
	margin-right: 24px;
	margin-top: 24px;
}
.currencyamerica {
	li {
		padding: 28px 16px !important;
		list-style: none;
		padding-top: 0px !important;
		p {
			font-size: 24px;
			font-weight: 500;
			line-height: 32px;
			vertical-align: middle;
			padding: 28px 16px !important;
		}
	}
}
.linkvalyuta {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: .1px;
	font-weight: 600;
	padding: 8px 0;
	transition: all .3s cubic-bezier(.23,1,.32,1);
	color: $color_1;
}
.linkvalue {
	margin-top: 50px;
}
.body-2 {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .25px;
	color: $color_4;
}
