$background-color_1: #f4f5f4;

#cashsurgery {
	padding-bottom: 72px !important;
	padding-top: 72px !important;
	background-color: $background-color_1;
}
.headercashsurgery {
	font-size: 32px;
	line-height: 48px;
	letter-spacing: .25px;
	font-weight: 400 !important;
}
