#cashsurgery {
  padding-bottom: 72px !important;
  padding-top: 72px !important;
  background-color: #f4f5f4;
}

.headercashsurgery {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.25px;
  font-weight: 400 !important;
}