#customersopinion {
  padding-top: 64px;
  padding-bottom: 64px;
}

.customersheader {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.25px;
}

.customergrayparagraf h6 {
  color: rgba(0, 0, 0, 0.6);
  line-height: 28px;
  letter-spacing: 0.15px;
  font-size: 20px;
  font-weight: 600;
}

.customeridentity {
  margin-top: 40px;
}
.customeridentity p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.customer h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.video-item {
  height: 100% !important;
  width: 100% !important;
}