#needdocumention {
  margin-top: 96px !important;
}

.headerneeddocumention {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.25px;
  font-weight: 400 !important;
}

.scrollable {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 24px;
}

.cardsinfotmation {
  margin-right: 24px;
  flex: 1;
  flex-direction: column;
  min-width: 311px;
  box-shadow: 0 2px 8px rgba(52, 56, 54, 0.05);
  background-color: #fff;
  padding: 24px;
  border-radius: 6px;
  overflow: hidden;
}
.cardsinfotmation h6 {
  line-height: 24px;
  letter-spacing: 0.15px;
  font-size: 20px;
  font-weight: 600;
}

.subtitleinformation {
  margin-bottom: 32px;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.informationlink {
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  color: #099a71;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  padding: 8px 0;
}