#payment {
  margin-top: 40px;
}

.paymentcard {
  padding: 24px;
  margin-right: 24px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  height: 176px;
  width: calc((100% - 24px) / 3);
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
}

.cardimage {
  width: 107px;
  height: 40px;
}

.cardimagegift {
  width: 57px;
  height: 40px;
}

.cardparagraf {
  font-weight: 400;
  max-width: 90%;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 20px;
}