#worldslide {
  margin-top: 40px;
}

.worldslidetexts {
  margin-bottom: 32px;
}

.headerslideworld {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.25px;
}

.slidespan {
  font-weight: 700 !important;
}

.paraglafworldslide {
  margin-bottom: 24px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-size: 20px;
  font-weight: 600;
}

.subtitleparagrafslide {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.visacard {
  margin-left: 24px;
}

.onlinecard {
  width: 74px;
}